@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Models

@inject IStringLocalizer<Program> StringLocalizer
@inject IHtmlLocalizer<Program> HtmlLocalizer
@inject IViewLocalizer ViewLocalizer

@model IEnumerable<User>

@{
    Layout = "_Layout2";
}


<div>
    @using(Html.BeginForm("search", "users")) {
        @:Phrase @Html.TextBox("phrase")
        <input type="submit" value="Search" class="btn" />

        @*@Html.AntiForgeryToken();*@
    }

    @*<form asp-action="search" asp-antiforgery="false">
        <input type="text" name="phrase" />
        <input type="submit" value="Search" class="btn" />
    </form>*@
</div>

@*@foreach(var user in @Model) {
    <p>@user.Id : @user.Username : @user.Password</p>
}*@

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName(StringLocalizer[nameof(Models.User.Id)])
                </th>
                <th>
                    @*@StringLocalizer[/*encoded*/"<i>{0}</i>",  @Html.DisplayNameFor(model => model.Username)]*@
                    @HtmlLocalizer["<i>{0}</i>", /*encoded*/ @Html.DisplayNameFor(model => model.Username)]
                </th>
                <th>
                    @*<label>@nameof(Models.User.Password)</label>*@
                    @Html.Label(@ViewLocalizer[nameof(Models.User.Password)].Value)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model) {
                <tr>
                    <th>
                        @Html.DisplayFor(_ => user.Id)
                    </th>
                    <th>
                        @Html.DisplayFor(_ => user.Username)
                    </th>
                    <th>
                        @user.Password
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>