@using Models

@model IEnumerable<User>

@{
    Layout = "_Layout2";
}


<div>
    @using(Html.BeginForm("search", "users")) {
        @:Phrase @Html.TextBox("phrase")
        <input type="submit" value="Search" class="btn" />

        @*@Html.AntiForgeryToken();*@
    }

    @*<form asp-action="search" asp-antiforgery="false">
        <input type="text" name="phrase" />
        <input type="submit" value="Search" class="btn" />
    </form>*@
</div>

@*@foreach(var user in @Model) {
    <p>@user.Id : @user.Username : @user.Password</p>
}*@

<div>
    <table class="table">
        <thead>
            <tr>
                <partial name="_UserHeader" model="new Models.User()" />
            </tr>
        </thead>
        <tbody>
            @foreach (var user in @Model) {
                <tr>
                    @await Html.PartialAsync("_UserBody", user)
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Users", new {user.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>